body {
	font-family: monospace;
	background-color: black;
	color: white;
}

#score {
	color: lime;
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 400%;
}

#ship {
	font-size: 300%;
	position: fixed;
	bottom: 40px;
	left: 50%;
}

.shot {
	font-size: 300%;
	position: fixed;
	bottom: 80px;
	left: 50%;
}

.invader {
	font-size: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
}
