body {
	font-family: monospace;
	background-color: black;
	color: white;
}

#score {
	color: lime;
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 400%;
}

.ship {
	font-size: 300%;
	position: fixed;
}

.shot {
	font-size: 300%;
	position: fixed;
}

.invader {
	font-size: 300%;
	position: absolute;
}
