/* Ughhhhhhhhhhhhhhhhhh
htmltag
#id
.class
*/

body {
	font-family: monospace;
	background-color: black;
	color: white;
}

.score {
	color: lime;
	position: absolute;
	left: '20px';
	top: '20px';
	font-size: 400%;
}

.ship {
	font-size: 300%;
	position: fixed;
}

.shot {
	font-size: 300%;
	position: fixed;
}

/* TODO inherited styles for different tier invaders*/
.invader {
	font-size: 300%;
	position: absolute;
}

.invader1 {
	color: red;
}

.invader2 {
	color: blue;
}

.invader3 {
	color: green;
}

.victory {
	font-size: 800%;
	height: 100%;
	width: 100%;
	margin: 0px;
}
